  <%- include('partials/header.ejs') %>
  
  <%- include('partials/main_nav.ejs') %>
  
  <!-- Main Content -->
  <main class="container">
    <% switch(page) {
      case "About": %>
        <%- include('partials/about_page_content.ejs') %>
        <% break;
      case "Contact": %>
        <%- include('partials/contact_page_content.ejs') %>
        <% break;
      case "Projects": %>
        <%- include('partials/projects_page_content.ejs') %>
        <% break;
      case "Services": %>
        <%- include('partials/services_page_content.ejs') %>
        <% break;
      default: %>
        <%- include('partials/home_page_content.ejs') %>
        <% break;
    } %>

  </main>
  
  <%- include('partials/bottom_nav.ejs') %>  
  
  <%- include('partials/footer.ejs') %>